@model Fiap03.Web.MVC.ViewModel.ModeloViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Modelos - @Model.NomeMarca</h2>
<hr />
<div class="row">
    <div class="col">
        @Fabrica.Mensagem(TempData["msg"])            
        <h3>Cadastro</h3>
        @using (Html.BeginForm("Cadastrar","Modelo"))
        {
            <!--marcaId-->
            @Html.HiddenFor(c => c.Modelo.MarcaId)
            <div class="form-group">
                @Html.LabelFor(m => m.Modelo.Nome)
                @Html.TextBoxFor(m => m.Modelo.Nome, new { @class = "form-control" })
            </div>
            @Fabrica.Botao("Cadastrar")
        }
    </div>
    <div class="col">
        <h3>Modelos</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Lista)
                {
                    <tr>
                        <td>@item.Nome</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

