@model Fiap03.Web.MVC.Models.MarcaModel

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Marca</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cnpj)
        @Html.TextBoxFor(m => m.Cnpj, new { @class = "form-control" })
    </div>
    @Fabrica.Botao("Editar")
}